<div class=" content">
  <div class=" row">
    <div class=" col-12">
      <div class=" card card-chart">

        <div class=" card-header">
          <div class=" row">
            <div class=" col-sm-4 text-left">
              <h5 class=" card-category">Version: {{scnVersion}}, Period: {{period}}</h5>


              <h2 class=" card-title">SCENARIO {{scnId}}, {{scnName}} </h2>
              <button class="btn btn-light" (click)="open(content)">Create/Update Period</button>

            </div>

            <div class=" col-sm-8 text-right">
              <button class="btn btn-group">Export Scenario</button>


            </div>

          </div>
        </div>

      </div>
    </div>
  </div>
  <ng-template #content let-modal>

    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Create/Update Period</h4>
      <button type="button" class="btn btn-warning" (click)="modal.dismiss('Cross click')">X</button>
    </div>
    <div class="modal-body">


      <form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>

        <div clas="input-group">
          <label for="period_start"></label>
          <input name="period_start" class="form-control" ngModel required #first="ngModel">
        </div>
        <div clas="input-group">
          <label for="period_end"></label>
          <input name="period_end" class="form-control" ngModel required #first="ngModel">
        </div>
        <div clas="input-group">
          <label for="begin_date"></label>
          <input name="begin_date" class="form-control" ngModel required #first="ngModel">
        </div>
        <div clas="input-group">
          <label for="end_date"></label>
          <input name="end_date" class="form-control" ngModel required #first="ngModel">
        </div>
        <div clas="input-group">
          <button>Submit</button>
        </div>

      </form>

    </div>



  </ng-template>

  <div class=" row">
    <div class=" col-lg-6 col-md-12">
      <div class="card card-nav-tabs text-left">
        <div class="card-header card-header-primary">
          Scenario Actions
        </div>
        <div class="card-body">
          <table class=" table">
            <tbody>
              <tr>
                
                <td>
                  <a 
                    routerLink="" routerLinkActive="active"
                    class="simple-text logo-normal"
                  >
                    <p class=" title">Change Scenarios</p>
                  </a>
                  <p class=" text-muted">
                    Switch to a different scenario
                  </p>
                </td>
                
              </tr>
              <tr>
                
                <td>
                  <a (click)="createVersion()" ><p class=" title pe-auto">Save as new version</p></a>
                  <p class=" text-muted">
                    Stores a new version of current scenario
                  </p>
                </td>
                
              </tr>
              <tr>
                <td>
                  <p class=" title">Reset Data</p>
                  <p class=" text-muted">
                    Clears the accounts and adjustments tables from current scenario
                  </p>
                </td>
        
              </tr>
              <tr>
                <td>
                  <p class=" title">Clone Scenario</p>
                  <p class=" text-muted">
                    Create a new scenario by copying current scenario into new scenario id
                  </p>
                </td>
              </tr>
              <tr>
                <td>
                  <p class=" title">Export Base Tables</p>
                  <p class=" text-muted">
                    Download the base tables representing the organizational structure of the scenario
                  </p>
                </td>
              </tr>
              <tr>
                <td>
                  <p class=" title">Delete Scenario</p>
                  <p class=" text-muted">
                    Delete this scenario and all saved versions
                  </p>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      
      </div>

  </div>
  <div class=" col-lg-6 col-md-12">
    <div class=" card">
      <div class=" card-header">
        <h4 class=" card-title">Scenario Version Log</h4>
      </div>
      <div class=" card-body">
        <div class=" table-responsive">
          <table class=" table tablesorter" id="">
            <thead class=" text-primary">
              <tr>
                <th>Version</th>
                <th>Modify Date</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let v of versions">
                <td>{{v.version}}</td>
                <td>{{v.modify_date|date}}</td>
                <td></td>
                <td class=" text-center"><a>Revert</a></td>
              </tr>

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>




</div>